# Prepare Data

## Extracting trips to airports

The complete raw csv file contains more than 110 million rows. We will now strip it down by selecting only those taxi trips that are heading to any of the three airports:
* Newark
* JFK
* LaGuardia

The module that executes that is called: `step_2_extract_trips_to_airport`.

In [21]:
# uncomment if you debug the module
#%load_ext autoreload
#%autoreload 2

In [22]:
import pandas as pd
import step_2_extract_trips_to_airport as step2

Lets lookup the location IDs for airport zones in the zone lookup table.

In [23]:
zones = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv').dropna()
zones[zones.Zone.str.contains("Airport")]

     LocationID Borough               Zone service_zone
0             1     EWR     Newark Airport          EWR
131         132  Queens        JFK Airport     Airports
137         138  Queens  LaGuardia Airport     Airports

These values are hard encoded in the step2 module

In [24]:
step2.nyc_airports, step2.newark, step2.jfk, step2.laguardia

((1, 132, 138), 1, 132, 138)

The main function will load the raw data csv file, filter trips with airport destinations and save it as a gzipped csv file.

You may call it from command line:

```
> python step_2_extract_trips_to_airport.py
```

The result file contains 2,533,073 data rows plus one header line. Its gzipped size is now only 50MB.

```
> gunzip -l nyc-2017-yellow-taxi-trips-to-airport.cvs.gz
         compressed        uncompressed  ratio uncompressed_name
           51793187           278755354  81.4% nyc-2017-yellow-taxi-trips-to-airport.cvs
> gunzip -c nyc-2017-yellow-taxi-trips-to-airport.cvs.gz|wc -l
2533073
```

## Clean data