In [32]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_pickle('nyc-2017-yellow-taxi-trips-to-airport-expanded.pkl.gz')

In [44]:
df.shape

(2509788, 755)

In [45]:
df.head()

,pickup_datetime,dropoff_datetime,pickup_borough,pickup_zone,pickup_service_zone,dropoff_zone,dropoff_month,drop_off_week_of_year,dropoff_day_of_year,dropoff_day_of_month,...,dropoff_hour_14,dropoff_hour_15,dropoff_hour_16,dropoff_hour_17,dropoff_hour_18,dropoff_hour_19,dropoff_hour_20,dropoff_hour_21,dropoff_hour_22,dropoff_hour_23
14,2017-03-28 14:56:33,2017-03-28 16:14:19,Manhattan,Greenwich Village North,Yellow Zone,JFK Airport,3,13,87,28,...,0,0,1,0,0,0,0,0,0,0
18,2017-03-28 14:56:35,2017-03-28 15:50:06,Manhattan,Lenox Hill West,Yellow Zone,JFK Airport,3,13,87,28,...,0,1,0,0,0,0,0,0,0,0
63,2017-03-28 14:56:45,2017-03-28 15:35:29,Manhattan,Central Park,Yellow Zone,LaGuardia Airport,3,13,87,28,...,0,1,0,0,0,0,0,0,0,0
128,2017-03-28 14:57:00,2017-03-28 15:27:54,Manhattan,Garment District,Yellow Zone,LaGuardia Airport,3,13,87,28,...,0,1,0,0,0,0,0,0,0,0
140,2017-03-28 14:57:04,2017-03-28 15:45:30,Manhattan,Murray Hill,Yellow Zone,JFK Airport,3,13,87,28,...,0,1,0,0,0,0,0,0,0,0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2509788 entries, 14 to 113496861
Columns: 755 entries, pickup_datetime to dropoff_hour_23
dtypes: category(9), datetime64[ns](2), uint8(744)
memory usage: 1.8 GB

In [47]:
df.columns

Index(['pickup_datetime', 'dropoff_datetime', 'pickup_borough', 'pickup_zone',
       'pickup_service_zone', 'dropoff_zone', 'dropoff_month',
       'drop_off_week_of_year', 'dropoff_day_of_year', 'dropoff_day_of_month',
       ...
       'dropoff_hour_14', 'dropoff_hour_15', 'dropoff_hour_16',
       'dropoff_hour_17', 'dropoff_hour_18', 'dropoff_hour_19',
       'dropoff_hour_20', 'dropoff_hour_21', 'dropoff_hour_22',
       'dropoff_hour_23'],
      dtype='object', length=755)